*{
    background-color: rgb(37, 37, 37);
    color: white;
}
.headerContainer{
    display: flex;
    align-items: baseline;
    padding-left: 250px;
    
    
}

#links{
    
    padding-left: 50px;
    justify-content: space-between;

}
#logotipo{
    height: 20px;
    width: 80px;
  
}


#avatar{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
   padding-left: 600px;
   }

#texto{
    color: violet;
}

#sobre{
    display: flex;
    justify-content: center;
}

#resumo{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
#GIT{
    color: black;
    background-color: white;
    border-radius: 50px;
    border: transparent;
    padding: 10px;
}
#DC{
    border: white;
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 10px;
}
.Experience{
    display: flex;
    justify-content: center;

}

.icones{
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 25px;
}


.cards{
    display: flex;
    justify-content: center;
    gap:15px;
} 
    #links1{
        display: flex;
        

    }
     #links2{
        display: flex;
    

    }


#projects{
    display: flex;
    justify-content: center;
    color: orangered;

}
#tituloExpe{
    display: flex;
    justify-content: center;
    color: blue;
}
.empresa{
 display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-left: 200px;
}
.empresaIcons{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

#rodape{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 200px;
}
#email{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
}

/* responsividade da tela*/
@media(max-width:600px){
    avatar{
        display: none;
    }
}