*{
    padding: 0;
    margin: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
   
}
.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}
.mainpt1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
#avatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    
}
#sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
#resumo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.buttons{
display: flex;
flex-direction: row;
justify-content: center;
border-radius: 50px;
 padding: 15px 32px;
  text-align: center;
  font-size: 16px;
 

}
#GIT{
    background-color: white;
    color: black;
}
#DC{
    background-color: black;
    color: white;
    border: 1 px solid white;
}
.Experience{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;

}
.icones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px; 
}
.cards{
     display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px; 
    gap: 15px;

}
#links1{
     display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
#links1{
     display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
#links1{
     display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
#links2{
     display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.Experiences{
display: flex;
flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.all{
     display: flex;
flex-direction: column;
    justify-content: center;
    padding: 5px;

}
#google{
    display: flex;
flex-direction: row;
    justify-content: center;
    padding: 5px;
}
#googledesc{
     display: flex;
flex-direction: row;
    justify-content: center;
    padding: 5px;
}
#apple{
       display: flex;
flex-direction: row;
    justify-content: center;
    padding: 5px;
}
#appledesc{
       display: flex;
flex-direction: row;
    justify-content: center;
    padding: 5px;
}
#meta{
       display: flex;
flex-direction: row;
    justify-content: center;
    padding: 5px;
}
#metadesc{
       display: flex;
flex-direction: row;
    justify-content: center;
    padding: 5px;
}
.Contact{

       display: flex;
flex-direction: row;
    justify-content: center;
    padding: 5px;
}
#ContactDesc{
       display: flex;
flex-direction: row;
    justify-content: center;
    padding: 5px;
}

#email{
       display: flex;
flex-direction: row;
    justify-content: center;
    padding: 5px;
}
.iconeSocial{
       display: flex;
flex-direction: row;
    justify-content: center;
    padding: 5px;
}
